body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.custom-margin-1 {
    margin: 10px 10px; 

}

.custom-padding-1 {
    padding: 10px 10px !important; 
}

.custom-margin-2 {
    margin: 2px 5px; 

}

.custom-list-margin{
    margin-top: 0px !important;
}

.custom-card-margin{
    margin-top: 0px !important;
}

p {
    font-weight: bold;
}

li {
    margin-left: 5px;
}

.custom-top-margin-1{
    margin-top: 20px !important;
}

#rentButtonSection{
    height: 80px !important;
}

#rentButton{
    margin: auto;
    width: 100%;
}

.alert {
    color: #b71c1c;
}

